.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  
  /* Custom scrollbar hanya untuk elemen ini */
  .scrollable::-webkit-scrollbar {
    width: 8em;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #00f;
    border-radius: 10em;
  }
  